<template>
  <v-select label="name" :options="authors" :value="value" @input="updateValue" v-if="multiple" multiple>
    <template slot="no-options">
      No authors present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.name }}
    </template>
  </v-select>
  <v-select v-else label="name" :options="authors" :value="value" @input="updateValue">
    <template slot="no-options">
      No authors present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.name }}
    </template>
  </v-select>
</template>

<script>
  import VueSelect from 'vue-select';
  import AuthorService from '@/services/AuthorService';

  export default {
    name: 'author-select',
    components: {
      'v-select': VueSelect,
    },
    props: {
      value: {},
      multiple: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        authors: [],
      };
    },
    mounted() {
      this.initAuthors();
    },
    methods: {
      async initAuthors() {
        const resp = await AuthorService.fetchAuthors();
        this.authors = resp.data.authors.map(author => ({
          id: author.id,
          name: author.name,
          url: author.url.primary_url,
        }));
      },
      updateValue(value) {
        this.$emit('input', value);
      },
    },
  };
</script>

<style scoped>

</style>
