<template>
  <v-select label="display_name" :options="characters" :value="value" @input="updateValue" v-if="multiple" multiple>
    <template slot="no-options">
      No characters present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.display_name }}
    </template>
  </v-select>
  <v-select v-else label="display_name" :options="characters" :value="value" @input="updateValue">
    <template slot="no-options">
      No characters present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.display_name }}
    </template>
  </v-select>
</template>

<script>
  import VueSelect from 'vue-select';
  import CharacterService from '@/services/CharacterService';

  export default {
    name: 'character-select',
    components: {
      'v-select': VueSelect,
    },
    props: {
      value: {},
      multiple: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        characters: [],
      };
    },
    mounted() {
      this.initCharacters();
    },
    methods: {
      async initCharacters() {
        const resp = await CharacterService.fetchCharacters();
        this.characters = resp.data.characters.reduce((r, character) => {
          let characters = [];
          characters.push({
            id: character.id,
            variant_id: null,
            display_name: character.name,
          });
          if (character.variants.length > 0) {
            characters = characters.concat(character.variants.map(variant => ({
              id: character.id,
              variant_id: variant.variant_id,
              display_name: variant.display_name,
            })));
          }
          return r.concat(characters);
        }, []);
      },
      updateValue(value) {
        this.$emit('input', value);
      },
    },
  };
</script>

<style scoped>

</style>
