<template>
  <v-select label="name" :options="fandoms" :value="value" @input="updateValue" v-if="multiple" multiple>
    <template slot="no-options">
      No fandoms present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.name }}
    </template>
  </v-select>
  <v-select v-else label="name" :options="fandoms" :value="value" @input="updateValue">
    <template slot="no-options">
      No fandoms present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.name }}
    </template>
  </v-select>
</template>

<script>
  import VueSelect from 'vue-select';
  import FandomService from '@/services/FandomService';

  export default {
    name: 'fandom-select',
    props: {
      value: {},
      multiple: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        fandoms: [],
      };
    },
    mounted() {
      this.initFandoms();
    },
    methods: {
      async initFandoms() {
        const resp = await FandomService.fetchFandoms();
        this.fandoms = resp.data.fandoms;
      },
      updateValue(value) {
        this.$emit('input', value);
      },
    },
    components: {
      'v-select': VueSelect,
    },
  };
</script>

<style scoped>

</style>
