<template>
  <b-card class="col-sm-12 col-md-3 px-0 mx-4">
    <template slot="header" v-if="fic.internals.sticky">Featured</template>
    <span slot="footer">{{ fic.fandoms.map((fandom) => fandom.name).join(', ') }}</span>
    <h4 class="card-title"><a :href="fic.url">{{ fic.title }}</a></h4>
    <h6>By: <span v-html="authors.join(', ')"></span></h6>
    <span v-if="fic.ships.length > 0">Ships: <span v-html="ships.join(', ')"></span></span><br />
    <hr />
    <div v-html="fic.summary"></div>
    <p>
      <span>Rating: {{ fic.rating }}</span> |
      <span>Chapters: {{ fic.n_chapters }}</span> |
      <span>Word count: {{ fic.words_readable }}</span> |
      <template v-if="fic.setting !== ''">
        <span>Setting: {{ fic.setting }}</span> |
      </template>
      <template v-if="fic.complete">
        <span>Complete</span>
      </template>
      <template v-else>
        <span>Incomplete<template v-if="fic.status !== ''"> ({{ fic.status }})</template></span>
      </template>
    </p>
    <p>Tags: <span v-html="tags.join(', ')"></span></p>
  </b-card>
</template>

<script>
  export default {
    name: 'fic-work',
    props: {
      fic: {
        type: Object,
      },
    },
    computed: {
      authors() {
        return this.fic.authors.map(author => `<a href=${author.url}>${author.name}</a>`);
      },
      ships() {
        return this.fic.ships.map((ship) => {
          if (ship.work_display_name.other_display_names.length > 0) {
            return `<b>${ship.work_display_name.primary_display_name}</b> (${ship.work_display_name.other_display_names.join(', ')})`;
          }
          return `<b>${ship.work_display_name.primary_display_name}</b>`;
        });
      },
      tags() {
        return this.fic.tags.map(tag => `<span>${tag.tag}</span>`);
      },
    },
  };
</script>

<style scoped>

</style>
