<template>
  <b-navbar toggleable="md" type="dark" variant="dark" v-show="loggedIn" class="bd-navbar">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand>{{ brand }}</b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'Fandoms' }">Fandoms</b-nav-item>
        <b-nav-item :to="{ name: 'Characters' }">Characters</b-nav-item>
        <b-nav-item :to="{ name: 'Ships' }">Ships</b-nav-item>
        <b-nav-item :to="{ name: 'Works' }">Works</b-nav-item>
        <b-nav-item :to="{ name: 'Authors' }">Authors</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
  export default {
    name: 'fr-menu',
    data() {
      return {
        brand: 'flight-of-the-felix.tumblr.com',
      };
    },
    computed: {
      loggedIn() {
        return this.$store.getters['user/loggedIn'];
      },
    },
  };
</script>

<style scoped lang="scss">
  /* Mostly stolen from the bootstrap docs */

  @import '~bootstrap/scss/_functions';
  @import '~bootstrap/scss/_variables';
  @import '~bootstrap/scss/mixins/_breakpoints';

  .bd-navbar {
    min-height: 4rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);

    @include media-breakpoint-down(md) {
      padding-right: .5rem;
      padding-left: .5rem;

      .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden;
        font-size: .875rem;

        .navbar-nav {
          padding-bottom: 2rem;
          overflow-x: auto;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
        }
      }
    }

    @include media-breakpoint-up(md) {
      @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: 99; // Tumblr iframe buttons have z-index of 99 and are positioned on the right side of the bar.
      }
    }
  }
</style>
