<template>
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <h4>Tags: </h4>
      <b-list-group>
        <template v-for="tag in tags">
          <b-list-group-item :key="tag.id" @click="applyTagFilter(tag.id)" v-if="tag.id === filter_.activeTag" active>{{ tag.tag}}</b-list-group-item>
          <b-list-group-item :key="tag.id" @click="applyTagFilter(tag.id)" v-else>{{ tag.tag }}</b-list-group-item>
        </template>
      </b-list-group>
    </div>
    <div>
      <h1>Fic Recs</h1>
      <p v-if="statusMsg !== ''">{{ statusMsg }}</p>

      <div class="fics">
        <div v-for="row in chunks" class="row">
          <fic-work :fic="fic" v-for="fic in row" :key="fic.id" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import WorkService from '@/services/WorkService';
  import TagService from '@/services/TagService';

  import FicWork from '@/components/FicWork';

  export default {
    name: 'index',
    data() {
      return {
        fics: [],
        tags: [],
        statusMsg: '',
        filter_: {
          activeTag: '',
        },
      };
    },
    mounted() {
      this.statusMsg = 'Loading... Please wait';
      this.initFics();
      this.initTags();
    },
    computed: {
      chunks() {
        const chunkSize = 3;

        return this.fics.reduce((accumulator, currentValue, currentIndex) => {
          // Based on https://stackoverflow.com/a/37826698
          const outerIndex = Math.floor(currentIndex / chunkSize);

          if (!accumulator[outerIndex]) {
            // eslint-disable-next-line no-param-reassign
            accumulator[outerIndex] = [];
          }

          accumulator[outerIndex].push(currentValue);

          return accumulator;
        }, []);
      },
    },
    methods: {
      async initFics() {
        const resp = await WorkService.fetchWorks();
        this.fics = resp.data.works;
        this.statusMsg = '';
      },
      async initTags() {
        const resp = await TagService.fetchTags();
        this.tags = resp.data.tags;
      },
      applyTagFilter(id) {
        this.filter_.activeTag = id;
      },
    },
    components: {
      FicWork,
    },
  };
</script>

<style scoped lang="scss">
  /* Stolen from the bootstrap docs */

  @import '~bootstrap/scss/_functions';
  @import '~bootstrap/scss/_variables';
  @import '~bootstrap/scss/mixins/_breakpoints';

  .bd-sidebar {
    order: 0;
    // background-color: #f5f2f9;
    // border-bottom: 1px solid rgba(0, 0, 0, .1);

    @include media-breakpoint-up(md) {
      @supports (position: sticky) {
        position: sticky;
        top: 4rem;
        z-index: 98;
        height: calc(100vh - 4rem);
      }
      border-right: 1px solid rgba(0, 0, 0, .1);
    }

    @include media-breakpoint-up(xl) {
      flex: 0 1 320px;
    }
  }
</style>
