<template>
  <div>
    <b-table striped hover show-empty :items="ships" :fields="fields">
      <template slot="actions" slot-scope="row">
        <b-button size="sm" class="mr-2" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Hide' : 'Show'}} details
        </b-button>
        <b-button size="sm" class="mr-2" @click.stop="showEditModal(row.item.id)" v-b-tooltip.hover title="Edit ship">
          <font-awesome-icon :icon="['far', 'edit']" />
          <span class="sr-only">Edit ship</span>
        </b-button>
        <b-button size="sm" @click.stop="onDeleteShip(row.item.id)" v-b-tooltip.hover title="Delete ship">
          <font-awesome-icon :icon="['far', 'trash-alt']" />
          <span class="sr-only">Delete ship</span>
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3"><b>Characters: </b></b-col>
            <b-col>{{ row.item.characters.map(character => character.display_name).join(', ') }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3"><b>Platonic: </b></b-col>
            <b-col>{{ row.item.platonic ? 'Yes' : 'No' }}</b-col>
          </b-row>
          <b-row v-if="row.item.poly === false" class="mb-2">
            <b-col sm="3"><b>Poly: </b></b-col>
            <b-col>No</b-col>
          </b-row>
          <template v-else>
            <b-row class="mb-2">
              <b-col sm="3"><b>Poly: </b></b-col>
              <b-col>Yes</b-col>
            </b-row>
            <b-row class="mb-2">
              <b-col sm="3"><b>Sub ships: </b></b-col>
              <b-col>
                <ul>
                  <li v-for="ship in row.item.poly.sub_ships" :key="ship.id">{{ ship.display_name }}</li>
                </ul>
              </b-col>
            </b-row>
          </template>
        </b-card>
      </template>
    </b-table>

    <b-button @click="showEditModal('')">Create ship</b-button>

    <b-modal id="editModal" :title="title" hide-footer>
      <b-form @submit="onSubmitModal">
        <b-form-group label="Characters: " label-for="shipCharacters">
          <character-select v-model="createEditModal.form.characters" :multiple="true" />
        </b-form-group>
        <!--<b-form-group label="Platonic: " label-for="shipPlatonic" horizontal>-->
          <!--<b-form-checkbox id="shipPlatonic" v-model="createEditModal.form.platonic" />-->
        <!--</b-form-group>-->
        <b-form-checkbox id="shipPlatonic" v-model="createEditModal.form.platonic">Platonic</b-form-checkbox>
        <b-form-group label="Ship name: " label-for="shipName">
          <b-form-input type="text" id="shipName" v-model="createEditModal.form.name" />
        </b-form-group>
        <b-form-group label="Display name: " label-for="shipDisplayName">
          <!-- <b-form-input type="text" id="shipDisplayName" readonly v-model="displayName" /> -->
          {{ displayName }}
        </b-form-group>
        <template v-if="createEditModal.form.characters.length > 2">
          <hr />
          <b-form-checkbox id="shipPolyDisplayName" v-model="createEditModal.display_outer_ship" >Display ship ({{ displayName }}) on work</b-form-checkbox>
          <b-form-group label="Sub ships: " label-for="shipPolySubShips">
            <ship-select :characters="createEditModal.form.characters" :self="createEditModal.id" v-model="createEditModal.sub_ships" :multiple="true" />
          </b-form-group>
          <template v-if="createEditModal.sub_ships.length > 0">
            <!-- Sub ships selected, now show display options... -->
            <b-form-group label="Display sub ships on work?" label-for="shipPolySubShipsDisplay">
              <b-form-checkbox-group id="shipPolySubShipsDisplay" v-model="createEditModal.display_inner_ships" :options="createEditModal.sub_ships" text-field="display_name" value-field="id">
              </b-form-checkbox-group>
            </b-form-group>
          </template>
        </template>
        <b-button type="submit" variant="primary">{{ createEditModal.create ? 'Add ship' : 'Save' }}</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';

  import CharacterSelect from '@/components/CharacterSelect';
  import ShipSelect from '@/components/ShipSelect';

  import ShipService from '@/services/ShipService';

  export default {
    name: 'list-ships',
    data() {
      return {
        ships: [],
        fields: [
          {
            key: 'display_name',
            label: 'Ship',
          },
          {
            key: 'name',
            label: 'Ship name',
          },
          {
            key: 'actions',
            labels: '',
          },
        ],
        createEditModal: {
          create: true,
          form: {
            characters: [],
            poly: false,
            platonic: false,
            name: '',
            display_name: '',
          },
          id: '',
          display_outer_ship: true,
          display_inner_ships: [],
          sub_ships: [],
        },
      };
    },
    mounted() {
      this.initShips();
    },
    computed: {
      title() {
        if (this.createEditModal.create) {
          return 'Create ship: ';
        }
        return `Edit ship '${this.displayName}': `;
      },
      displayName() {
        if (this.createEditModal.form.platonic) {
          return this.createEditModal.form.characters.map(character => character.display_name).join(' & ');
        }
        return this.createEditModal.form.characters.map(character => character.display_name).join('/');
      },
      formPoly() {
        if (this.createEditModal.form.characters.length <= 2) {
          return false;
        }
        return {
          display: this.createEditModal.display_outer_ship,
          sub_ships: this.createEditModal.sub_ships,
        };
      },
    },
    methods: {
      async initShips() {
        const resp = await ShipService.fetchShips();
        this.ships = resp.data.ships;
      },
      showEditModal(id) {
        if (id === '') {
          // New ship
          this.createEditModal.create = true;
          this.createEditModal.id = '';
          this.createEditModal.display_outer_ship = true;
          this.createEditModal.display_inner_ships = [];

          this.createEditModal.form.characters = [];
          this.createEditModal.form.name = '';
          this.createEditModal.form.platonic = false;
          this.createEditModal.form.poly = false;
          this.createEditModal.form.display_name = '';
        } else {
          // Existing ship
          this.createEditModal.create = false;
          this.createEditModal.id = id;
          this.createEditModal.form.display_name = ''; // Replace by computed display name on submit

          ShipService.fetchShip(id).then((resp) => {
            this.createEditModal.form.characters = resp.data.characters;
            this.createEditModal.form.platonic = resp.data.platonic;
            this.createEditModal.form.name = resp.data.name;
            if (resp.data.poly === false) {
              this.createEditModal.form.poly = false;
              this.createEditModal.display_outer_ship = true;
              this.createEditModal.display_inner_ships = [];
              this.createEditModal.sub_ships = [];
            } else {
              this.createEditModal.poly = true;  // Replace by computed poly object on submit
              this.createEditModal.display_outer_ship = resp.data.poly.display;
              this.createEditModal.display_inner_ships = [];
              this.createEditModal.sub_ships = resp.data.poly.sub_ships.map((subShip) => {
                if (subShip.display) {
                  this.createEditModal.display_inner_ships.push(subShip.id);
                }
                return {
                  id: subShip.id,
                  display_name: subShip.display_name,
                };
              });
            }
          });
        }

        this.$root.$emit('bv::show::modal', 'editModal');
      },
      onSubmitModal(evt) {
        evt.preventDefault();
        // TODO
        // eslint-disable-next-line
        console.log(this.createEditModal.sub_ships);

        if (this.createEditModal.form.characters.length > 2) {
          // Poly ship
          const subShips = this.createEditModal.sub_ships.map((subShip) => {
            const r = {
              id: subShip.id,
              display_name: subShip.display_name,
              display: false,
            };
            if (this.createEditModal.display_inner_ships.includes(subShip.id)) {
              r.display = true;
            }
            return r;
          });
          this.createEditModal.form.poly = {
            display: this.createEditModal.display_outer_ship,
            sub_ships: subShips,
          };
        } else {
          this.createEditModal.form.poly = false;
        }
        this.createEditModal.form.display_name = this.displayName;

        const token = this.$store.getters['user/token'];
        if (this.createEditModal.create) {
          // New ship
          ShipService.createShip(this.createEditModal.form, token).then((resp) => {
            // eslint-disable-next-line no-console
            console.log(resp.data.message);
            this.$root.$emit('bv::hide::modal', 'editModal');
            this.initShips();
          });
        } else {
          // Existing ship
          ShipService.editShip(this.createEditModal.id, this.createEditModal.form, token)
            .then((resp) => {
              // eslint-disable-next-line no-console
              console.log(resp.data.message);
              this.$root.$emit('bv::hide::modal', 'editModal');
              this.initShips();
            });
        }
      },
      async onDeleteShip(id) {
        const token = this.$store.getters['user/token'];
        await ShipService.deleteShip(id, token);
        this.initShips();
      },
    },
    components: {
      FontAwesomeIcon,
      CharacterSelect,
      ShipSelect,
    },
  };
</script>

<style scoped>

</style>
