<template>
  <div>
    <b-form-group horizontal label="Filter by fandom" class="mb-0">
      <fandom-select v-model="filter_" :multiple=false />
    </b-form-group>

    <b-table striped hover show-empty :items="characters" :fields="fields" :filter="tableFilter">
      <template slot="fandom" slot-scope="row">
        {{ row.value.name }}
      </template>
      <template slot="actions" slot-scope="row">
        <b-button size="sm" class="mr-2" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Hide' : 'Show'}} character variants
        </b-button>
        <b-button size="sm" class="mr-2" @click.stop="showEditModalCharacter(row.item.id)" v-b-tooltip.hover title="Edit character">
          <font-awesome-icon :icon="['far', 'edit']" />
          <span class="sr-only">Edit</span>
        </b-button>
        <b-button size="sm" @click.stop="onDeleteCharacter(row.item.id)" v-b-tooltip.hover title="Delete character">
          <font-awesome-icon :icon="['far', 'trash-alt']" />
          <span class="sr-only">Delete</span>
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <div>
          <h3>Variants: </h3>
          <b-card v-for="variant in row.item.variants" :key="variant.variant_id">
            <b-row class="mb-2">
              <b-col sm="3"><b>Display name: </b></b-col>
              <b-col>{{ variant.display_name }}</b-col>
            </b-row>
            <!-- TODO [DOC]: Add aditional modifiers here -->
            <b-row class="mb-2">
              <b-col sm="3"><b>Gender: </b></b-col>
              <b-col>{{ variant.modifiers.gender }}</b-col>
            </b-row>
            <b-button size="sm" @click="showEditModalVariant(row.item.id, variant.variant_id)">Edit {{ variant.display_name }}</b-button>
            <b-button size="sm" @click="onDeleteVariant(row.item.id, variant.variant_id)">Delete {{ variant.display_name }}</b-button>
          </b-card>
          <b-button size="sm" @click="showEditModalVariant(row.item.id, -1)">Add variant</b-button>
          <b-button size="sm" @click="row.toggleDetails">Hide variants</b-button>
        </div>
      </template>
    </b-table>

    <b-button @click="showEditModalCharacter('')">Create character</b-button>

    <b-modal id="editModalCharacter" :title="titleCharacter" hide-footer>
      <b-form @submit="onSubmitCharacter">
        <b-form-group label="Name: " label-for="characterName">
          <b-form-input id="characterName" v-model="createEditModalCharacter.form.name" required></b-form-input>
        </b-form-group>
        <b-form-group label="Fandom: " label-for="characterFandom">
          <fandom-select id="characterFandom" v-model="createEditModalCharacter.form.fandom" :multiple=false />
        </b-form-group>
        <b-button type="submit" variant="primary">{{ createEditModalCharacter.create ? 'Add character' : 'Save' }}</b-button>
      </b-form>
    </b-modal>

    <b-modal id="editModalVariant" :title="titleVariant" hide-footer>
      <b-form @submit="onSubmitVariant">
        <b-form-group label="Name: " label-for="variantDisplayName">
          <b-form-input id="variantDisplayName" v-model="createEditModalVariant.form.display_name" required></b-form-input>
        </b-form-group>
        <b-form-group label="Gender: " label-for="variantModifierGender">
          <b-form-input id="variantModifierGender" v-model="createEditModalVariant.form.modifiers.gender" required></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">{{ createEditModalVariant.create ? 'Add variant' : 'Save' }}</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';

  import FandomSelect from '@/components/FandomSelect';

  import CharacterService from '@/services/CharacterService';

  export default {
    name: 'list-characters',
    data() {
      return {
        characters: [],
        fields: [
          {
            key: 'name',
            label: 'Name',
            sortable: true,
          },
          {
            key: 'fandom',
            label: 'Fandom',
          },
          {
            key: 'actions',
            label: '',
          },
        ],
        filter_: null,
        createEditModalCharacter: {
          create: true,
          form: {
            name: '',
            fandom: '',
            variants: [],
          },
          id: '',
        },
        createEditModalVariant: {
          create: true,
          form: {
            display_name: '',
            variant_id: -1,
            modifiers: {
              gender: '',
            },
          },
          id: '',
        },
      };
    },
    mounted() {
      this.initCharacters();
    },
    computed: {
      tableFilter() {
        if (this.filter_ === null) {
          return null;
        }
        return this.filter_.name;
      },
      titleCharacter() {
        if (this.createEditModalCharacter.create) {
          return 'Create character: ';
        }
        return `Edit character '${this.createEditModalCharacter.form.name}': `;
      },
      titleVariant() {
        if (this.createEditModalVariant.create) {
          return 'Create variant: ';
        }
        return `Edit variant '${this.createEditModalVariant.form.display_name}': `;
      },
    },
    methods: {
      async initCharacters() {
        const resp = await CharacterService.fetchCharacters();
        this.characters = resp.data.characters;
      },
      showEditModalCharacter(id) {
        if (id === '') {
          // New character
          this.createEditModalCharacter.create = true;
          this.createEditModalCharacter.id = '';
          this.createEditModalCharacter.form.name = '';
          this.createEditModalCharacter.form.fandom = '';
          this.createEditModalCharacter.form.variants = [];
        } else {
          // Existing character
          this.createEditModalCharacter.create = false;
          this.createEditModalCharacter.id = id;
          CharacterService.fetchCharacter(id).then((resp) => {
            this.createEditModalCharacter.form.name = resp.data.name;
            this.createEditModalCharacter.form.fandom = resp.data.fandom;
            this.createEditModalCharacter.form.variants = resp.data.variants;
          });
        }

        this.$root.$emit('bv::show::modal', 'editModalCharacter');
      },
      showEditModalVariant(id, variantId) {
        this.createEditModalVariant.id = id;
        if (variantId === -1) {
          // New variant
          this.createEditModalVariant.create = true;
          this.createEditModalVariant.form.display_name = '';
          this.createEditModalVariant.form.variant_id = -1;
          this.createEditModalVariant.form.modifiers.gender = '';
        } else {
          // Existing variant
          this.createEditModalVariant.create = false;
          CharacterService.fetchCharacter(id).then((resp) => {
            // Get variant by id
            const variant = resp.data.variants.find((variant_ => variant_.variant_id === variantId));
            this.createEditModalVariant.form.display_name = variant.display_name;
            this.createEditModalVariant.form.variant_id = variantId;
            this.createEditModalVariant.form.modifiers.gender = variant.modifiers.gender;
          });
        }

        this.$root.$emit('bv::show::modal', 'editModalVariant');
      },
      onSubmitCharacter(evt) {
        evt.preventDefault();

        const token = this.$store.getters['user/token'];
        if (this.createEditModalCharacter.create) {
          // New character
          CharacterService.createCharacter(this.createEditModalCharacter.form, token).then((resp) => {
            // eslint-disable-next-line no-console
            console.log(resp.data.message);
            this.$root.$emit('bv::hide::modal', 'editModalCharacter');
            this.initCharacters();
          });
        } else {
          // Existing character
          CharacterService
            .editCharacter(this.createEditModalCharacter.id,
              this.createEditModalCharacter.form,
              token)
            .then((resp) => {
              // eslint-disable-next-line no-console
              console.log(resp.data.message);
              this.$root.$emit('bv::hide::modal', 'editModalCharacter');
              this.initCharacters();
            });
        }
      },
      async submitVariant() {
        const token = this.$store.getters['user/token'];
        const resp = await CharacterService.fetchCharacter(this.createEditModalVariant.id);
        const character = resp.data;

        // eslint-disable-next-line no-console
        console.log(character);

        if (this.createEditModalVariant.create) {
          // New variant
          this.createEditModalVariant.form.variant_id = character.variants.length + 1;
          character.variants.push(this.createEditModalVariant.form);
        } else {
          // Existing variant
          const variantId = this.createEditModalVariant.form.variant_id;
          const variantIndex = character.variants
            .findIndex((variant_ => variant_.variant_id === variantId));
          character.variants[variantIndex] = this.createEditModalVariant.form;
        }

        const resp2 = await CharacterService
          .editCharacter(this.createEditModalVariant.id, character, token);
        // eslint-disable-next-line no-console
        console.log(resp2.data.message);
        this.$root.$emit('bv::hide::modal', 'editModalVariant');
        this.initCharacters();
      },
      onSubmitVariant(evt) {
        evt.preventDefault();

        this.submitVariant();
      },
      onDeleteCharacter(id) {
        const token = this.$store.getters['user/token'];

        CharacterService.deleteCharacter(id, token).then((resp) => {
          // eslint-disable-next-line no-console
          console.log(resp.data.message);
          this.initCharacters();
        });
      },
      async deleteVariant(id, variantId) {
        const token = this.$store.getters['user/token'];
        const resp = await CharacterService.fetchCharacter(id);
        const character = resp.data;

        const variant = character.variants.find((variant_ => variant_.variant_id === variantId));
        character.variants = character.variants.filter(item => item !== variant);

        const resp2 = await CharacterService.editCharacter(id, character, token);
        // eslint-disable-next-line no-console
        console.log(resp2.data.message);
        this.initCharacters();
      },
      onDeleteVariant(id, variantId) {
        this.deleteVariant(id, variantId);
      },
    },
    components: {
      FandomSelect,
      FontAwesomeIcon,
    },
  };
</script>

<style scoped>

</style>
