<template>
  <div>
    <b-table striped hover show-empty :items="authors" :fields="fields">
      <template slot="actions" slot-scope="row">
        <b-button size="sm" @click.stop="showEditModal(row.item.id)" v-b-tooltip.hover title="Edit author">
          <font-awesome-icon :icon="['far', 'edit']" />
          <span class="sr-only">Edit</span>
        </b-button>
        <b-button size="sm" @click.stop="onDelete(row.item.id)" v-b-tooltip.hover title="Delete author">
          <font-awesome-icon :icon="['far', 'trash-alt']" />
          <span class="sr-only">Delete</span>
        </b-button>
      </template>
      <template slot="fandoms" slot-scope="data">
        {{ data.value.map(elem => elem.name).join(', ') }}
      </template>
    </b-table>

    <b-button @click="showEditModal('')">Create author</b-button>

    <b-modal id="editModal" :title="title" hide-footer>
      <b-form @submit="onSubmit">
        <b-form-group label="Name: " label-for="authorName">
          <b-form-input id="authorName" v-model="createEditModal.form.name" required></b-form-input>
        </b-form-group>
        <b-form-group label="URL: " label-for="authorURL">
          <b-form-input id="authorURL" v-model="createEditModal.form.url.primary_url" type="url" required></b-form-input>
        </b-form-group>
        <b-form-group label="Fandom(s): " label-for="authorFandoms">
          <fandom-select id="authorFandoms" v-model="createEditModal.form.fandoms" :multiple=true />
        </b-form-group>
        <b-button type="submit" variant="primary">{{ createEditModal.create ? 'Add author' : 'Save' }}</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  import AuthorService from '@/services/AuthorService';

  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';

  import FandomSelect from '@/components/FandomSelect';


  export default {
    name: 'list-authors',
    data() {
      return {
        authors: [],
        fields: [
          {
            key: 'name',
            label: 'Author',
            sortable: true,
          },
          {
            key: 'fandoms',
            label: 'Fandoms',
          },
          {
            key: 'actions',
            label: '',
          },
        ],
        createEditModal: {
          create: true,
          form: {
            name: '',
            fandoms: [],
            url: {
              urls: [],
              primary_url: '',
            },
          },
          id: '',
        },
      };
    },
    mounted() {
      this.initAuthors();
    },
    computed: {
      title() {
        if (this.createEditModal.create) {
          return 'Create author: ';
        }
        return `Edit author '${this.createEditModal.form.name}': `;
      },
    },
    methods: {
      async initAuthors() {
        const resp = await AuthorService.fetchAuthors();
        this.authors = resp.data.authors;
      },
      async deleteAuthor(id) {
        const token = this.$store.getters['user/token'];
        await AuthorService.deleteAuthor(id, token);
        this.initAuthors();
      },
      onDelete(id) {
        this.deleteAuthor(id);
      },
      onSubmit(evt) {
        evt.preventDefault();

        // TODO: validate that form.fandoms has a length of at least 1

        const token = this.$store.getters['user/token'];
        if (this.createEditModal.create) {
          // New author
          AuthorService.createAuthor(this.createEditModal.form, token).then((resp) => {
            // eslint-disable-next-line no-console
            console.log(resp.data.message);
            this.$root.$emit('bv::hide::modal', 'editModal');
            this.initAuthors();
          });
        } else {
          // Existing author
          AuthorService.editAuthor(this.createEditModal.id, this.createEditModal.form, token)
            .then((resp) => {
              // eslint-disable-next-line no-console
              console.log(resp.data.message);
              this.$root.$emit('bv::hide::modal', 'editModal');
              this.initAuthors();
            });
        }
      },
      showEditModal(id) {
        if (id === '') {
          // New author
          this.createEditModal.create = true;
          this.createEditModal.form.name = '';
          this.createEditModal.form.fandoms = [];
          this.createEditModal.form.url.urls = [];
          this.createEditModal.form.url.primary_url = '';
          this.createEditModal.id = '';
        } else {
          // Existing Author
          this.createEditModal.create = false;
          this.createEditModal.id = id;
          AuthorService.fetchAuthor(id).then((resp) => {
            this.createEditModal.form.name = resp.data.name;
            this.createEditModal.form.fandoms = resp.data.fandoms;
            this.createEditModal.form.url.urls = resp.data.url.urls;
            this.createEditModal.form.url.primary_url = resp.data.url.primary_url;
          });
        }

        this.$root.$emit('bv::show::modal', 'editModal');
      },
    },
    components: {
      FontAwesomeIcon,
      FandomSelect,
    },
  };
</script>

<style scoped>

</style>
