<template>
  <div>
    <b-table striped hover show-empty :items="fandoms" :fields="fields">
      <template slot="actions" slot-scope="row">
        <b-button size="sm" @click.stop="showEditModal(row.item.id)" v-b-tooltip.hover title="Edit fandom">
          <font-awesome-icon :icon="['far', 'edit']" />
          <span class="sr-only">Edit</span>
        </b-button>
        <b-button size="sm" @click.stop="onDelete(row.item.id)" v-b-tooltip.hover title="Delete fandom">
          <font-awesome-icon :icon="['far', 'trash-alt']" />
          <span class="sr-only">Delete</span>
        </b-button>
      </template>
    </b-table>

    <b-button @click="showEditModal('')">Create fandom</b-button>

    <b-modal id="editModal" :title="title" hide-footer>
      <b-form @submit="onSubmit">
        <b-form-group label="Name: " label-for="fandomName">
          <b-form-input id="fandomName" v-model="createEditModal.form.name" required></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">{{ createEditModal.create ? 'Add fandom' : 'Save' }}</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  import FandomService from '@/services/FandomService';

  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';

  export default {
    name: 'list-fandoms',
    data() {
      return {
        fandoms: [],
        fields: [
          {
            key: 'name',
            label: 'Fandom',
            sortable: true,
          },
          {
            key: 'actions',
            label: '',
          },
        ],
        createEditModal: {
          create: true,
          form: {
            name: '',
          },
          id: '',
        },
      };
    },
    mounted() {
      this.initFandoms();
    },
    computed: {
      title() {
        if (this.createEditModal.create) {
          return 'Create fandom: ';
        }
        return `Edit fandom '${this.createEditModal.form.name}': `;
      },
    },
    methods: {
      async initFandoms() {
        const resp = await FandomService.fetchFandoms();
        this.fandoms = resp.data.fandoms;
      },
      async deleteFandom(id) {
        const token = this.$store.getters['user/token'];
        await FandomService.deleteFandom(id, token);
        this.initFandoms();
      },
      onDelete(id) {
        this.deleteFandom(id);
      },
      showEditModal(id) {
        if (id === '') {
          // New fandom
          this.createEditModal.create = true;
          this.createEditModal.form.name = '';
          this.createEditModal.id = '';
        } else {
          // Existing fandom
          this.createEditModal.create = false;
          this.createEditModal.id = id;
          FandomService.fetchFandom(id).then((resp) => {
            this.createEditModal.form.name = resp.data.name;
          });
        }

        this.$root.$emit('bv::show::modal', 'editModal');
      },
      onSubmit(evt) {
        evt.preventDefault();

        const token = this.$store.getters['user/token'];
        if (this.createEditModal.create) {
          FandomService.createFandom(this.createEditModal.form, token).then((resp) => {
            // eslint-disable-next-line no-console
            console.log(resp.data.message);
            this.$root.$emit('bv::hide::modal', 'editModal');
            this.initFandoms();
          });
        } else {
          FandomService.editFandom(this.createEditModal.id, this.createEditModal.form, token)
            .then((resp) => {
              // eslint-disable-next-line no-console
              console.log(resp.data.message);
              this.$root.$emit('bv::hide::modal', 'editModal');
              this.initFandoms();
            });
        }
      },
    },
    components: {
      FontAwesomeIcon,
    },
  };
</script>

<style scoped>

</style>
