<template>
  <div>
    <b-form-group horizontal label="Filter by fandom" class="mb-0">
      <fandom-select v-model="filter_" :multiple="false" />
    </b-form-group>

    <b-table striped hover show-empty :items="works" :fields="fields" :filter="tableFilter">
      <template slot="authors" slot-scope="row">
        {{ row.value.map(author => author.name).join(', ') }}
      </template>
      <template slot="ships" slot-scope="row">
        {{ row.value.map(ship => ship.work_display_name.primary_display_name).join(', ') }}
      </template>
      <template slot="actions" slot-scope="row">
        <b-button size="sm" class="mr-2" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Hide' : 'Show'}} details
        </b-button>
        <b-button size="sm" class="mr-2" @click.stop="showEditModal(row.item.id)" v-b-tooltip.hover title="Edit work">
          <font-awesome-icon :icon="['far', 'edit']" />
          <span class="sr-only">Edit</span>
        </b-button>
        <b-button size="sm" @click.stop="onDelete(row.item.id)" v-b-tooltip.hover title="Delete work">
          <font-awesome-icon :icon="['far', 'trash-alt']" />
          <span class="sr-only">Delete</span>
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3"><b>URL: </b></b-col>
            <b-col><a :href="row.item.url" target="_blank">{{ row.item.url }}</a></b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3"><b>Rating: </b></b-col>
            <b-col>{{ row.item.rating }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3"><b>Chapter count: </b></b-col>
            <b-col>{{ row.item.n_chapters}}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3"><b>Word count: </b></b-col>
            <b-col>{{ row.item.words_readable }}</b-col>
          </b-row>
          <b-row class="mb-2" v-if="row.item.setting !== ''">
            <b-col sm="3"><b>Setting: </b></b-col>
            <b-col>{{ row.item.setting }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3"><b>Complete: </b></b-col>
            <b-col v-if="row.item.complete">Yes</b-col>
            <b-col v-else>No<span v-if="row.item.status !== ''"> ({{ row.item.status }})</span></b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3"><b>Tags: </b></b-col>
            <b-col>{{ row.item.tags.map((tag) => tag.tag).join(', ') }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3"><b>Summary: </b></b-col>
            <b-col v-html="row.item.summary"></b-col>
          </b-row>
        </b-card>
      </template>
    </b-table>

    <b-button @click="showEditModal('')">Create work</b-button>

    <b-modal id="editModal" :title="title" hide-footer size="lg">
      <b-form @submit="onSubmitModal">
        <b-form-group label="Title: " label-for="workTitle">
          <b-form-input type="text" id="workTitle" v-model="createEditModal.form.title" />
        </b-form-group>
        <b-form-group label="URL: " label-for="workURL">
          <b-form-input type="url" id="workURL" v-model="createEditModal.form.url" />
        </b-form-group>
        <b-form-group label="Author(s)" label-for="workAuthors">
          <author-select id="workAuthors" :multiple="true" v-model="createEditModal.form.authors" />
        </b-form-group>
        <b-form-group label="Fandom(s)" label-for="workFandoms">
          <fandom-select id="workFandoms" :multiple="true" v-model="createEditModal.form.fandoms" />
        </b-form-group>
        <b-form-group label="Ship(s)" label-for="workShips">
          <ship-select id="workShips" :multiple="true" v-model="createEditModal.form.ships" />
        </b-form-group>
        <b-form-group label="Additional character(s)" label-for="workCharacters">
          <!-- TODO: Auto exclude characters that are in a selected ship -->
          <character-select id="workCharacters" :multiple="true" v-model="createEditModal.form.characters" />
        </b-form-group>
        <b-form-group label="Summary: " label-for="workSummary">
          <tiny-mce id="workSummary" v-model="createEditModal.form.summary" :toolbar="editorInit.toolbar" :menubar="editorInit.menubar" :other-props="editorInit.otherProps" :communication-bus="internalBus" />
        </b-form-group>
        <b-form-group label="Spoilers: " label-for="workSpoilers">
          <tiny-mce id="workSpoilers" v-model="createEditModal.form.spoilers" :toolbar="editorInit.toolbar" :menubar="editorInit.menubar" :other-props="editorInit.otherProps" :communication-bus="internalBus" />
        </b-form-group>
        <b-form-group label="Chapter count: " label-for="workNChapters">
          <b-form-input id="workNChapters" type="number" v-model="createEditModal.form.n_chapters" />
        </b-form-group>
        <b-form-group label="Word count: " label-for="workNWords">
          <b-form-input id="workNWords" type="number" v-model="createEditModal.form.n_words" />
        </b-form-group>
        <b-form-group label="Rating: " label-for="workRating">
          <b-form-select id="workRating" v-model="createEditModal.form.rating" :options="createEditModal.ratingOptions"/>
        </b-form-group>
        <b-form-group label="Setting: " label-for="workSetting">
          <b-form-input id="workSetting" type="text" v-model="createEditModal.form.setting" />
        </b-form-group>
        <b-form-group label="Tags: " label-for="workTags">
          <tag-select id="workTags" :multiple="true" v-model="createEditModal.form.tags" />
        </b-form-group>
        <b-form-checkbox id="workComplete" v-model="createEditModal.form.complete">Complete</b-form-checkbox>
        <b-form-group label="Status: " lablel-for="workStatus" v-if="!createEditModal.form.complete">
          <b-form-input id="workStatus" type="text" v-model="createEditModal.form.status" />
        </b-form-group>
        <b-form-checkbox id="workSticky" v-model="createEditModal.form.internals.sticky">Sticky (stick to top of index)</b-form-checkbox>
        <div class="mb-2"></div>
        <b-button type="submit" variant="primary">{{ createEditModal.create ? 'Add work' : 'Save' }}</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
  import TinyMce from '@/components/utils/TinyMCE';
  import Vue from 'vue';

  import WorkService from '@/services/WorkService';

  import FandomSelect from '@/components/FandomSelect';
  import AuthorSelect from '@/components/AuthorSelect';
  import ShipSelect from '@/components/ShipSelect';
  import TagSelect from '@/components/TagSelect';
  import CharacterSelect from '@/components/CharacterSelect';

  export default {
    name: 'list-works',
    data() {
      return {
        works: [],
        filter_: null,
        fields: [
          {
            key: 'title',
            label: 'Title',
            sortable: true,
          },
          {
            key: 'authors',
            label: 'Author(s)',
          },
          {
            key: 'ships',
            label: 'Ship(s)',
          },
          {
            key: 'actions',
            label: '',
          },
        ],
        editorInit: {
          otherProps: {
            branding: false,
            // FIXME: create config file for modification
            skin_url: 'https://flight-of-the-felix-ficrecs.herokuapp.com/cdn/tinymce/skins/lightgray',
            theme_url: 'https://flight-of-the-felix-ficrecs.herokuapp.com/cdn/tinymce/themes/modern/theme.js',
            plugins: 'paste hr code link',
            formats: {
              alignleft: {
                selector: 'p,h1,h2,h3,h4,h5,h6',
                classes: 'text-left',
              },
              aligncenter: {
                selector: 'p,h1,h2,h3,h4,h5,h6',
                classes: 'text-center',
              },
              alignright: {
                selector: 'p,h1,h2,h3,h4,h5,h6',
                classes: 'text-right',
              },
              alignjustify: {
                selector: 'p,h1,h2,h3,h4,h5,h6',
                classes: 'text-justify',
              },
              bold: {
                inline: 'strong',
              },
              italic: {
                inline: 'em',
              },
              underline: {
                inline: 'u',
              },
              strikethrough: {
                inline: 's',
              },
              blockquote: {
                block: 'blockquote',
                classes: 'blockquote',
              },
              code: {
                inline: 'code',
              },
              pre: {
                block: 'pre',
              },
            },
            // TODO: valid_elements : https://www.tinymce.com/docs/configure/content-filtering/#valid_elements
          },
          toolbar: [
            'undo redo | styleselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify',
            'code | cut copy paste | link hr | bullist numlist | outdent indent blockquote',
          ],
          menubar: false,
        },
        createEditModal: {
          create: true,
          id: '',
          ratingOptions: ['Gen', 'T', 'M', 'PG-13', '15', 'R', 'NC-17', 'Not rated'],
          form: {
            title: '',
            url: '',
            summary: '',
            spoilers: '',
            rating: 'Not rated',
            complete: false,
            n_chapters: 1,
            n_words: null,
            status: '',
            setting: '',
            tags: [],
            internals: {
              sticky: false,
              pos: -1,
            },
            ships: [],
            characters: [],
            fandoms: [],
            authors: [],
          },
        },
        // Hacky stuff below
        internalBus: new Vue(),
      };
    },
    mounted() {
      this.initWorks();
    },
    computed: {
      tableFilter() {
        if (this.filter_ === null) {
          return null;
        }
        return this.filter_.name;
      },
      title() {
        if (this.createEditModal.create) {
          return 'Create work: ';
        }
        return `Edit work '${this.createEditModal.form.title}': `;
      },
    },
    methods: {
      async initWorks() {
        const resp = await WorkService.fetchWorks();
        this.works = resp.data.works;
      },
      onSubmitModal(evt) {
        evt.preventDefault();

        // Prepare ships for insertion
        this.createEditModal.form.ships = this.createEditModal.form.ships
          .map(ship => ({
            id: ship.id,
            work_display_name: ship.work_display_name,
          }));

        const token = this.$store.getters['user/token'];
        if (this.createEditModal.id === '') {
          // New work
          WorkService.createWork(this.createEditModal.form, token).then((resp) => {
            // eslint-disable-next-line no-console
            console.log(resp.data.message);
            this.$root.$emit('bv::hide::modal', 'editModal');
            this.initWorks();
          });
        } else {
          // Exisiting work
          WorkService.editWork(this.createEditModal.id, this.createEditModal.form, token)
            .then((resp) => {
              // eslint-disable-next-line no-console
              console.log(resp.data.message);
              this.$root.$emit('bv::hide::modal', 'editModal');
              this.initWorks();
            });
        }
      },
      showEditModal(id) {
        if (id === '') {
          // New work
          this.createEditModal.create = true;
          this.createEditModal.id = '';
          this.createEditModal.form.title = '';
          this.createEditModal.form.url = '';
          this.createEditModal.form.summary = '';
          this.createEditModal.form.spoilers = '';
          this.createEditModal.form.rating = 'Not rated';
          this.createEditModal.form.complete = false;
          this.createEditModal.form.n_chapters = 1;
          this.createEditModal.form.n_words = null;
          this.createEditModal.form.status = '';
          this.createEditModal.form.setting = '';
          this.createEditModal.form.tags = [];
          this.createEditModal.form.internals.sticky = false;
          this.createEditModal.form.internals.pos = -1;
          this.createEditModal.form.ships = [];
          this.createEditModal.form.characters = [];
          this.createEditModal.form.fandoms = [];
          this.createEditModal.form.authors = [];

          // Poke editor and tell that the values have been updated
          // Warning, this stuff is hacky
          this.internalBus.$emit('editorUpdateValue', 'workSummary', this.createEditModal.form.summary);
          this.internalBus.$emit('editorUpdateValue', 'workSpoilers', this.createEditModal.form.spoilers);
        } else {
          // Existing work
          this.createEditModal.create = false;
          this.createEditModal.id = id;

          WorkService.fetchWork(id).then((resp) => {
            this.createEditModal.form.title = resp.data.title;
            this.createEditModal.form.url = resp.data.url;
            this.createEditModal.form.summary = resp.data.summary;
            this.createEditModal.form.spoilers = resp.data.spoilers;
            this.createEditModal.form.rating = resp.data.rating;
            this.createEditModal.form.complete = resp.data.complete;
            this.createEditModal.form.n_chapters = resp.data.n_chapters;
            this.createEditModal.form.n_words = resp.data.n_words;
            this.createEditModal.form.status = resp.data.status;
            this.createEditModal.form.setting = resp.data.setting;
            this.createEditModal.form.tags = resp.data.tags;
            this.createEditModal.form.internals.sticky = resp.data.internals.sticky;
            this.createEditModal.form.internals.pos = resp.data.internals.pos;
            this.createEditModal.form.ships = resp.data.ships;
            this.createEditModal.form.characters = resp.data.characters;
            this.createEditModal.form.fandoms = resp.data.fandoms;
            this.createEditModal.form.authors = resp.data.authors;

            // Poke editor and tell that the values have been updated
            // Warning, this stuff is hacky
            this.internalBus.$emit('editorUpdateValue', 'workSummary', this.createEditModal.form.summary);
            this.internalBus.$emit('editorUpdateValue', 'workSpoilers', this.createEditModal.form.spoilers);
          });
        }

        this.$root.$emit('bv::show::modal', 'editModal');
      },
      async onDelete(id) {
        const token = this.$store.getters['user/token'];
        await WorkService.deleteWork(id, token);
        this.initWorks();
      },
    },
    components: {
      FandomSelect,
      AuthorSelect,
      CharacterSelect,
      ShipSelect,
      TagSelect,
      FontAwesomeIcon,
      'tiny-mce': TinyMce,
    },
  };
</script>

<style scoped>

</style>
