<template>
  <v-select label="display_name" :options="ships" :value="value" @input="updateValue" v-if="multiple" multiple>
    <template slot="no-options">
      No ships present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.work_display_name.primary_display_name }}
    </template>
    <template slot="selected-option" slot-scope="option">
      {{ option.work_display_name.primary_display_name }}
    </template>
  </v-select>
  <v-select v-else label="display_name" :options="ships" :value="value" @input="updateValue">
    <template slot="no-options">
      No ships present
    </template>
    <template slot="option" slot-scope="option">
      {{ option.work_display_name.primary_display_name }}
    </template>
    <template slot="selected-option" slot-scope="option">
      {{ option.work_display_name.primary_display_name }}
    </template>
  </v-select>
</template>

<script>
  import VueSelect from 'vue-select';
  import ShipService from '@/services/ShipService';

  export default {
    name: 'ship-select',
    components: {
      'v-select': VueSelect,
    },
    props: {
      characters: {
        type: Array,
        default: () => [],
      },
      self: {
        type: String,
        default: null,
      },
      value: {},
      multiple: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        ships: [],
      };
    },
    mounted() {
      this.initShips();
    },
    methods: {
      async initShips() {
        const filter_ = {
          exclude: this.self,
          characters: this.characters.map((character) => {
            if (character.variant_id !== null) {
              return `${character.id}|${character.variant_id}`;
            }
            return character.id;
          }),
        };
        const resp = await ShipService.fetchShipsFiltered(filter_);
        this.ships = resp.data.ships;
      },
      updateValue(value) {
        this.$emit('input', value);
      },
    },
  };
</script>

<style scoped>

</style>
