<template>
  <tag-v-select label="tag" :options="tags" :value="value" @input="updateValue" v-if="multiple" multiple taggable push-tags>
    <template slot="no-options">
      No tags present, start typing and click it to add a new one
    </template>
    <!-- <template slot="option" slot-scope="option">
      {{ option.hasOwnProperty('id') ? option.tag : option }} FIXME
    </template> -->
  </tag-v-select>
  <tag-v-select v-else label="tag" :options="tags" :value="value" @input="updateValue" taggable push-tags>
    <template slot="no-options">
      No tags present, start typing and click it to add a new one
    </template>
    <template slot="option" slot-scope="option">
      {{ option.tag }}
    </template>
  </tag-v-select>
</template>

<script>
  import TagVueSelect from '@/components/utils/TagVueSelect';
  import TagService from '@/services/TagService';

  export default {
    name: 'tag-select',
    components: {
      'tag-v-select': TagVueSelect,
    },
    props: {
      value: {},
      multiple: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        tags: [],
      };
    },
    mounted() {
      this.initTags();
    },
    methods: {
      async initTags() {
        const resp = await TagService.fetchTags();
        this.tags = resp.data.tags;
      },
      updateValue(value) {
        this.$emit('input', value);
      },
    },
  };
</script>

<style scoped>

</style>
