<template>
  <div>{{ token }}</div>
</template>

<script>
  import LoginService from '@/services/LoginService';

  export default {
    name: 'index',
    data() {
      return {};
    },
    methods: {
      async login() {
        const resp = await LoginService.login('foo', 'bar');
        this.$store.commit('user/login', { token: resp.data.token, name: resp.data.name, scope: resp.data.scope });
      },
    },
    mounted() {
      if (!this.loggedIn) {
        this.login();
      }
    },
    computed: {
      loggedIn() {
        return this.$store.getters['user/loggedIn'];
      },
      token() {
        return this.$store.getters['user/token'];
      },
    },
  };
</script>

<style scoped>

</style>
