<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta http-equiv=content-type content="text/html; charset=UTF-8">
        <title>Fanfic Recommendations - Page template</title>
    </head>
    <body>
        <pre>
            <code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;meta charset=utf-8&gt;
    &lt;meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no"&gt;
    &lt;meta http-equiv=content-type content="text/html; charset=UTF-8"&gt;
    &lt;style&gt;
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        #app {
            flex: 1;
        }

        .footer {
            background-color: #f5f5f5;
        }
    &lt;/style&gt;
    &lt;title&gt;Fanfic Recommendations&lt;/title&gt;
    &lt;link href="{{ url_for('cdn.css_app', _external=True) }}" rel=stylesheet&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id=app&gt;&lt;/div&gt;
    &lt;div class=py-2&gt;&lt;/div&gt;
    &lt;footer class="py-4 footer text-center"&gt;&lt;span class=text-muted&gt;&copy;2018, {{ blog }} - Created by &lt;a href=https://flight-of-the-felix.tumblr.com/ target=_blank&gt;Lena&lt;/a&gt;&lt;/span&gt;&lt;/footer&gt;
    &lt;script type=text/javascript src="{{ url_for('cdn.js_manifest', _external=True) }}"&gt;&lt;/script&gt;
    &lt;script type=text/javascript src="{{ url_for('cdn.js_vendor', _external=True) }}"&gt;&lt;/script&gt;
    &lt;script type=text/javascript src="{{ url_for('cdn.js_app', _external=True) }}"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
        </pre>
    </body>
</html>