<!-- Modified from https://raw.githubusercontent.com/mbouclas/tinymce-vue-2/master/TinyMce.vue -->

<template>
    <div>
      <textarea :id="id" :value="value"></textarea>
    </div>
</template>

<script>
  import tinymce from 'tinymce/tinymce';
  import 'tinymce/themes/modern/theme';
  import 'tinymce/plugins/hr';
  import 'tinymce/plugins/paste';
  import 'tinymce/plugins/code';
  import 'tinymce/plugins/link';

  export default {
    name: 'tiny-mce',
    props: {
      id: {
        type: String,
        default: 'editor',
      },
      value: {
        type: String,
        default: '',
      },
      toolbar: {
        default: '',
      },
      menubar: {
        default: '',
      },
      otherProps: {
        default: '',
      },
      baseURL: {
        type: String,
        default: '',
      },
      communicationBus: {
        default: null,
      },
    },
    mounted() {
      tinymce.baseURL = this.baseURL;
      tinymce.init({
        selector: `#${this.id}`,
        toolbar: this.toolbar,
        menubar: this.menubar,
        init_instance_callback: (editor) => {
          // eslint-disable-next-line no-unused-vars
          editor.on('KeyUp', (e) => {
            this.$emit('input', editor.getContent());
          });

          // eslint-disable-next-line no-unused-vars
          editor.on('Change', (e) => {
            this.$emit('input', editor.getContent());
          });

          editor.setContent(this.value);
        },
        ...this.otherProps,
      });
      this.communicationBus.$on('editorUpdateValue', this.onEditorUpdateValue);
    },
    destroyed() {
      tinymce.get(this.id).destroy();
      this.communicationBus.$off('editorUpdateValue', this.onEditorUpdateValue);
    },
    methods: {
      onEditorUpdateValue(id, value) {
        if (id === this.id) {
          tinymce.get(this.id).setContent(value);
        }
      },
    },
  };
</script>
