<template>
  <div id="app">
    <router-view name="menu"></router-view>
    <b-container>
      <router-view></router-view>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'app',
};
</script>

<style>

</style>
